fastapi
uvicorn
pydantic
google-generativeai==0.8.5
python-jose[cryptography]==3.5.0

passlib
bcrypt
python-multipart
#AIzaSyCIiuHlShq3oMdXN1RBiEB_5CtN2szzlZs
#commands:
#export GEMINI_API_KEY=your_actual_gemini_api_key_here(mustt)
#curl -X POST "http://127.0.0.1:8000/chat" -H "Content-Type: application/json" -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJ0ZXN0dXNlciIsIm5hbWUiOiJKb2huIERvZSIsImlhdCI6MTUxNjIzOTAyMn0.AAdwZuS8nzTh0CFXffD1SkTQzO3zD0m3Fnipz8Rj1Ws" -d '{"prompt":"why sky blue?"}'

